
*{
    margin: 0;
    padding: 0;
}

@import "../css/mobile/mobile.css";
@import "../css/tablet/tablet.css";
@import "../css/desktop/desktop.css";
#app{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
}